.navbar.horizontal-layout .navbar-brand-wrapper .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    line-height: 55px;
    margin-right: 0;
    padding: 0.25rem 0;
}

.navbar.horizontal-layout .navbar-brand-wrapper .brand-logo{
    width: 160px;
    height: 70px;
}
.navbar-menu-wrapper {
    color: #fff;
    padding-left: 15px;
    width: calc(100% - 185px);
}