
  <nav class="navbar horizontal-layout col-lg-12 col-12 p-0"  >
    <div class="container d-flex flex-row" >
      <div class="text-center navbar-brand-wrapper d-flex align-items-top">
          <a class="navbar-brand brand-logo" href="#">
              <img src="../../../assets/images/logo.svg" alt="Logo" >
          </a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center" >
      <form class="search-field ml-auto" action="#">
        <!-- <div class="form-group mb-0" >
          <div class="input-group" >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="mdi mdi-magnify"></i>


              </span>
            </div>
            <input type="text" class="form-control" > 
          </div>
        </div> -->
      </form>
    </div>
  </nav>



